html,
body {
    width: auto;
    background-color: black;
    cursor: default;
}

.frog-button {
    /* matches dimensions of frog images */
    width: 22px;
    height: 23px;
    border: none;
    padding: 0%;
    background: no-repeat;
}

.frog-button:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--img-src) no-repeat;
}
