html,
body {
    width: auto;
    background-color: black;
    cursor: default;
}

.frog-button {
    /* matches dimensions of frog images */
    width: 22px;
    height: 31px;
    padding: 0%;
    border: none;
    margin: 0 5px;
    background: no-repeat;
}